@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkcyan;
  font-size: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: rgb(40, 40, 163);
}

div {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 16px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darkcyan;
  border: none;
  text-align: ce;
}

input:focus {
  outline: none;
}
