@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfcfe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 12px;
  padding: 32px;
  margin: 0 12px;
  max-width: 1200px;
  text-align: center;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.code {
  padding: 16px;
  caret-color: transparent;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin: 12px;
  font-weight: 300;
  appearance: textfield;
  outline: none;
}

.code:active,
.code:focus {
  transform: scale(105%);
  border: 3px solid #bbbcbe;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border: 3px solid #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 62px;
    height: 82px;
    max-width: 72px;
  }
}
